*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family: 'Inter', Arial, sans-serif;
    background:#f8fafc;
    color:#111827;
    line-height:1.6;
}


.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 8%;
    background:white;
    box-shadow:0 5px 20px rgba(0,0,0,0.05);
}


.logo{
    font-size:28px;
    font-weight:800;
    color:#4f46e5;
}


.navbar ul{
    display:flex;
    gap:30px;
    list-style:none;
}


.navbar li{
    cursor:pointer;
    color:#374151;
}


button{
    background:#4f46e5;
    color:white;
    border:none;
    padding:12px 25px;
    border-radius:12px;
    font-size:16px;
    cursor:pointer;
    transition:.3s;
}


button:hover{
    background:#3730a3;
    transform:translateY(-2px);
}



.hero{

    min-height:80vh;
    display:flex;
    align-items:center;
    justify-content:center;
    text-align:center;
    padding:50px 10%;

    background:
    linear-gradient(
    135deg,
    #4f46e5,
    #06b6d4
    );

    color:white;
}


.hero h1{

    font-size:55px;
    max-width:900px;
    margin:auto;

}


.hero p{

    font-size:20px;
    margin:25px auto;
    max-width:700px;

}



.categories{

    padding:80px 8%;
    text-align:center;

}


.categories h2,
.how h2{

    font-size:36px;
    margin-bottom:40px;

}



.cards{

    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:25px;

}


.card{

    background:white;
    padding:35px;
    border-radius:20px;

    box-shadow:
    0 10px 30px rgba(0,0,0,.08);

    transition:.3s;

}


.card:hover{

    transform:translateY(-10px);

}


.card h3{

    color:#4f46e5;
    margin-bottom:15px;

}



.how{

    padding:80px 8%;
    text-align:center;

}


.steps{

    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:30px;

}


.steps div{

    background:white;
    padding:30px;
    border-radius:20px;

}



footer{

    background:#111827;
    color:white;
    text-align:center;
    padding:30px;

}
.logo{
    display:flex;
    align-items:center;
    gap:10px;
    font-size:28px;
    font-weight:800;
    color:#4f46e5;
}


.logo span{

    background:#4f46e5;
    color:white;

    width:45px;
    height:45px;

    display:flex;
    align-items:center;
    justify-content:center;

    border-radius:14px;

    font-size:18px;

}


.card-icon{

    font-size:40px;
    margin-bottom:20px;

}


.card button{

    margin-top:20px;
    padding:10px 20px;
    font-size:14px;

}


