# EarnAtlas Production Environment

SUPABASE_URL=

SUPABASE_ANON_KEY=

SITE_URL=https://earn-atlas.vercel.app/


# Email Service

EMAIL_PROVIDER=

EMAIL_API_KEY=


# Payment Provider

PAYMENT_PROVIDER=

PAYMENT_SECRET_KEY=


# Analytics

ANALYTICS_ID=


# Error Monitoring

ERROR_MONITORING_DSN=

